.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  height: 3rem;
  width: 40rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid blue;
}
input:focus {
  outline: none;
  border-bottom: 2px solid blue;
}
.login-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.text {
  font-size: 1.4rem;
  padding: 0 0.5rem;
  background-color: transparent;
  color: black;
  transition: transform 0.15s ease-out, font-size 0.15s ease-out,
    background-color 0.2s ease-out, color 0.15s ease-out;
}

.input-container {
  position: relative;
  margin-bottom: 2rem;
}
.placeholder-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.text-focus {
  background-color: white;
  font-size: 1.1rem;
  color: black;
  transform: translate(0, -130%);
  transition: transform 0.15s ease-out, font-size 0.15s ease-out,
    background-color 0.2s ease-out, color 0.15s ease-out;
}
.warning-text {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  color: red;
  background-color: transparent;
  pointer-events: none;
}
.color-red {
  color: red;
}
