<div *ngIf="!verified">please log in</div>
<div *ngIf="verified">
    <label>Name:</label>
    <input type="text" [(ngModel)]="name" placeholder="name"/>
    <label>Manufacturer:</label>
    <input type="text" [(ngModel)]="manufacturer" placeholder="manufacturer"/>
    <label>Price:</label>
    <input type="text" [(ngModel)]="price" placeholder="price"/>
    <button (click)="onCreate()">Create new Product</button>
    <div *ngFor="let product of products" class="product">
        <h2>{{ product.Name }} ({{ product.Manufacturer }})</h2>
        <p>Price: ${{ product.Price }}</p>
        
    </div>
</div>

